.App {
  font-family: sans-serif;
  text-align: center;
}

.relative {
  position: relative;
  height: 500px;
  width: 500px;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
